# ----------------------------------------------------------------------
# 1. 构建工具生成物 (Build Tools)
# 这些是根据源码生成的，换一台机器也能生成，绝不能提交
# ----------------------------------------------------------------------

# Maven
target/
!.mvn/wrapper/maven-wrapper.jar
!**/src/main/**/target/
# 上面这行是为了防止 submodule 中的 src 目录下的 target 被误删，虽罕见但为了保险

# Gradle
.gradle/
build/
!gradle/wrapper/gradle-wrapper.jar
!**/src/main/**/build/

# ----------------------------------------------------------------------
# 2. IDE 配置文件 (IDE Settings)
# 每个开发者的 IDE 配置（字体、窗口布局）可能不同，强制同步会打架
# ----------------------------------------------------------------------

# IntelliJ IDEA
.idea/
*.iws
*.iml
*.ipr
out/
.logs